{% extends 'base.html' %}

{% block content %}
  <h2>Attendance List</h2>
  <a href="{% url 'attendance_create' %}" class="btn btn-primary mb-2">Add Attendance Record</a>
  <table class="table">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Date</th>
        <th>Present?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for attendance in object_list %}
        <tr>
          <td>{{ attendance.student.name }}</td>
        <tr>
      {% endfor %}
    {% endblock %}